<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trash Bins</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style type="text/css">
        .step-links {
            text-align: center;
        }
        .add-bin {

        }
    </style>

</head>
<body>
    <div class="container">
        <h2>Trashes:</h2>

        <section class="bins">
            {% for bin in bins %}
                <a href="{% url "web_rmpy:trash" bin.id %}"><h4>{{ bin }}</h4></a> <br>
            {% endfor %}

            <a class="add-bin" href="/admin/web_rmpy/bin/add/"><h3>Add Bin</h3></a>
        </section>

        <section class="tasks">
            <h2>Tasks:</h2>
            {% for task in tasks %}
                {{ task }}<br />
            {% endfor %}

            <div class="step-links">
                {% if page_obj.has_previous %}
                    <a class="glyphicon glyphicon-arrow-left" href="?page={{ page_obj.previous_page_number }}"></a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a class=" glyphicon glyphicon-arrow-right" href="?page={{ page_obj.next_page_number }}"></a>
                {% endif %}
            </div>
        </section>

    </div>
</body>
</html>