<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <a href="empty/"><h3>Empty trash</h3></a>

        <form action="delete/" method="POST">
            {% csrf_token %}
            <label for="target">File path: </label>
            <input id="target" type="text" name="target">
            <input type="submit" value="Delete">
        </form>

        <br>

        <form action="regex/" method="POST">
            {% csrf_token %}
            <label for="path">SubTree path: </label>
            <input id="path" type="text" name="path">
            <label for="regex">Regex: </label>
            <input id="regex" type="text" name="regex">
            <input type="submit" value="Delete by regex">
        </form>

        <form action="recover/" method="POST">
            {% csrf_token %}
            <h2>Trash Files:</h2>
            {% for elem in dir %}
                    <input type="checkbox" name="elems" value="{{ elem }}" />{{ elem }}<br>
            {% endfor %}
            <input type="submit" value="Recover">
        </form>
    </div>
</body>
</html>